.profile-container {
    width: 90%;
    margin: 20px auto 60px;
    align-items: center;
    border-radius: 30px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container {
    padding-right: 5%;
}

.profile-img {
    width: 120%;
    height: auto;
    border-top-left-radius: 30px;
}

.profile-details {
    display: flex;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.profile-details div {
    margin: auto 0 0;
}

.club-details-container {
    display: flex;
}

.club-img {
    height: 30px;
    margin-left: 10px;
}

.details-container {
    display: flex;
    padding: 0 60px;
}

.column {
    padding: 0 30px;
    border-right: 1px solid #000;
}


