<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sejm Rzeczypospolitej Polskiej X kadencji</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/table.css">
</head>
<body>

<nav th:insert="fragments/nav :: nav"></nav>

<div class="container mt-5">
  <h1 class="mb-4">Posłowie X kadencji Sejmu Rzeczypospolitej Polskiej</h1>
  <table>
    <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Partia</th>
      <th>Zawód</th>
      <th>Głosy</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="politician : ${politicians}" th:onclick="'javascript:rowClicked(' + ${politician.id} + ');'">
      <td th:text="${politician.firstName}"></td>
      <td th:text="${politician.lastName}"></td>
      <td th:text="${politician.club}"></td>
      <td th:text="${politician.profession}"></td>
      <td th:text="${politician.numberOfVotes}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script>
  function rowClicked(value) {
    location.href = "/politicians/" + value;
  }
</script>

</body>
</html>
